@use "variables" as *;

//body template
@mixin body-template {
  padding: 0;
  margin: 0;
  height: $height-full;
  font-size: $fs-sm;
  width: $w-full;
  font-family: "Manrope", sans-serif;
}

//flex template
@mixin flex-simple {
  display: flex;
}

@mixin flex-full {
  display: flex;
  align-items: center;
  justify-content: center;
}

// templates of classes
@mixin popup-style {
  position: absolute;
  bottom: 80px;
  left: 65%;
  padding: $pad-s $pad-m;
  background: $dark-grayish-blue;
  color: $white;
  @include flex-simple;
  align-items: center;
  gap: $pad-s;
  border-radius: 10px;
  opacity: 0;
  transition: 0.1s ease;
}

@mixin popup-bottom {
  position: absolute;
  bottom: -14px;
  right: 45%;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 14px solid $dark-grayish-blue;
}

// MEDIA
// max width 480px
@mixin media-480px {
  .card {
    width: 90%;
    padding: $pad-l 0 0 0;
    justify-content: center;
    flex-direction: column;

    .card-image {
      width: $w-full;
      border-radius: 12px 12px 0 0;
    }
    .card-content {
      border-radius: 0 0 12px 12px;
      .card-author {
        position: relative;
        .popup {
          position: absolute;
          left: -32px;
          bottom: -33px;
          width: 100%;
          height: 60px;
          background: $dark-grayish-blue;
          display: flex;
          align-items: center;
          opacity: 0;
          align-items: center;
          border-radius: 0 0 12px 12px;
          transition: 0.1s ease;
          z-index: 10;
          .triangle {
            display: none;
          }
        }

        .popup.active {
          opacity: 1;
        }

        .share-btn {
          z-index: 100;
        }
      }
    }
  }
}
