//colors
$dark-grayish-blue: hsl(217, 19%, 35%);
$dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);
$white: hsl(0, 0%, 100%);

//font weight
$f-w-500: 500;
$f-w-700: 700;

//font size
$fs-sm: 13px;
$fs-md: 15px;
$fs-lrg: 24px;

//paddings and gaps
$pad-s: 1rem;
$pad-m: 2rem;
$pad-l: 3rem;
$pad-xl: 4rem;
$pad-max: 5rem;

//width
$w-s: 20%;
$w-m: 40%;
$w-l: 60%;
$w-xl: 80%;
$w-full: 100%;

//height
$vh-full: 100vh;
$vh-s: 40vh;
$vh-m: 80vh;
$height-half: 50%;
$height-full: 100%;
